<script id="dynamic-template" type="text/x-handlebars-template">
    <ul>
        \{{#each this}}
        <li>
            <span>\{{timeStamp}}</span>
            <p>\{{content}}</p>
            <img src="\{{imgPath}}" alt="" style="width:200px;height:200px;">
        </li>
        \{{/each}}
    </ul>
</script>