<h1>无猜</h1>
<p>{{email}}</p>
<p>{{uid}}</p>
<p>{{nickname}}</p>
<p>{{avatar}}</p>

<h2>最新动态-好友的最新的一条动态</h2>
<ul>
    <li>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
    </li>
    <li>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
    </li> 
</ul>
<h2>热门活动-根据参加人数</h2>
<ul>
    <li>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
    </li>
    <li>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
    </li> 
</ul>
<h2>热门话题-评论人数</h2>
<ul>
    <li>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
    </li>
    <li>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
        <p>adasdadasdasdadadad</p>
    </li> 
</ul>