html,
body {
    margin-bottom: 40px;
    min-height: 1200px;
}

.top-80 {
    margin-top: 80px;
}

.mainheader {
    border: none;
}

.welcome-info {
    display: inline-block;
    margin-top: 10px;
}

.avatar-me {
    margin-top: 5px;
    height: 48px;
    width: 48px;
}

.profilePanel,
.search-form {
    padding: 10px 20px;
    border: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.profile-avatar-me {
    position: absolute;
    top: -40px;
    width: 140px;
    height: 140px;
}

.profilePanel-right-header {
    margin-bottom: 10px;
}

.profilePanel-right-nickname {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #000;
}

.profileItem {
    margin: 5px 0;
}

.profiledetailLabel {
    width: 100px;
    float: left;
}

.profiledetailValue {
    width: 100px;
    margin-left: 40px;
    float: left;
}

.profileUpdateBtn,
.profileFollowingBtn {
    position: absolute;
    right: 20%;
    bottom: 0;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px soid red;
}

.anySearchresult {
    border-bottom: 1px solid #ccc;
    width: 60%;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.userDataItemLeft {
    width: 200px;
}

.userDataItemLeft img {
    float: left;
}

.userDataItemLeft a {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.userDataItemRight {
    float: right;
}

.userDataItemRight a {
    margin-left: 10px;
}

.topicItem,
.activityitem,
.dynamicItem {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
}

.dynamicImg {
    width: 200px;
    height: 200px;
}

.topicItem-info,
.activityItem-info,
.dynamicItem-info {
    margin-right: 20px;
}

.module_header {
    font-weight: normal;
    color: #333;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
}

.activityHeader h3,
.topicHeader a {
    font-size: 18px;
    font-weight: normal;
    margin: 20px 20px 0 0;
}

.activityHeader h3 {
    color: #333;
}

.activityBody,
.topicBody {
    margin: 20px 0;
}

.activityBodyContent,
.topicBodyContent {
    color: #666;
    max-height: 80px;
    padding: 0 20px 10px 0;
    word-wrap: break-word;
    overflow: hidden;
}

.repeatBox h3,
.repeatList h3 {
    margin: 20px auto;
    font-weight: normal;
    color: #666;
}

.repeatBox button {
    float: right;
    margin: 10px;
}

.repeatList {
    width: 50%;
}

.repeatItem {
    margin: 20px auto;
    border-bottom: 1px dashed #666;
}

.mailItem {
    width: 500px;
    word-wrap: break-word;
    margin: 10px auto;
    border-bottom: 1px dashed #999;
    padding: 20px 0;
}

.mailItem-left {
    float: left;
    text-align: center;
}

.mailItem-right {
    padding: 10px 20px;
    text-align: left;
    float: left;
    margin-left: 20px;
    position: relative;
    width: 420px;
    background: #eb6864;
    border-radius: 5px;
    color: #FFF;
}

.arrow {
    position: absolute;
    top: 20px;
    left: -16px;
    /* 圆角的位置需要细心调试哦 */
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color:  #FFF #eb6864 #FFF #FFF;
}